&wifi {
    status = "okay";
};

/ {
	buttons {
        record_button: record_button {
            gpios = <&gpio0 9 0>;
        };
    };
	wifi_ap: wifi_ap {
		compatible = "espressif,esp32-wifi";
		status = "okay";
	};

	// console over usb (when uncommented -> console is over uart)
	// chosen {
	// 	zephyr,console = &usb_serial;
	// 	zephyr,shell-uart = &usb_serial;
	// };

	buttons {
		compatible = "gpio-keys";
		status= "okay";
		l_button: l_button {
			gpios = <&gpio0 15 0>;
		};
		r_button: r_button {
			gpios = <&gpio0 16 0>;
		};
	};
};

&pinctrl {
	i2s1_pinconf: i2s1_pinconf {
		group1 {
			pinmux = <I2S0_MCLK_GPIO42>,
					 <I2S1_I_WS_GPIO6>,
					 <I2S1_I_BCK_GPIO4>;
			output-enable;
		};
		group2 {
			pinmux = <I2S1_I_SD_GPIO5>;
			input-enable;
		};
	};
};

i2s_rx: &i2s1 {
	status = "okay";

	pinctrl-0 = <&i2s1_pinconf>;
	pinctrl-names = "default";

	dmas = <&dma 4>;
	dma-names = "rx";
};

&dma {
	status = "okay";
};




&usb_serial {
    status = "okay";
};