&wifi {
    status = "okay";
};

/ {
	buttons {
        record_button: record_button {
            gpios = <&gpio0 9 0>;
        };
    };
	wifi_ap: wifi_ap {
		compatible = "espressif,esp32-wifi";
		status = "okay";
	};

	// console over usb (when uncommented -> console is over uart)
	// chosen {
	// 	zephyr,console = &usb_serial;
	// 	zephyr,shell-uart = &usb_s erial;
	// };

	buttons {
		compatible = "gpio-keys";
		status= "okay";
		l_button: l_button {
			gpios = <&gpio0 17 0>;
		};
		r_button: r_button {
			gpios = <&gpio0 18 0>;
		};
	};

	
	leds {
        compatible = "gpio-leds";
        green_led: green_led{
            gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
        };
		red_led: red_led{
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        };
    };
	
};

&pinctrl {
	i2s1_pinconf: i2s1_pinconf {
		group1 {
			pinmux = <I2S0_MCLK_GPIO42>,
					 <I2S1_I_WS_GPIO15>,
					 <I2S1_I_BCK_GPIO4>;
			output-enable;
		};
		group2 {
			pinmux = <I2S1_I_SD_GPIO5>;
			input-enable;
		};
	};
	uart2_default: uart2_default {
		group1 {
			pinmux = < UART2_TX_GPIO9 >;
			output-high;
		};
		group2 {
			pinmux = < UART2_RX_GPIO10 >;
			bias-pull-up;
		};
	};
};

i2s_rx: &i2s1 {
	status = "okay";

	pinctrl-0 = <&i2s1_pinconf>;
	pinctrl-names = "default";

	dmas = <&dma 4>;
	dma-names = "rx";
};

&dma {
	status = "okay";
};


&usb_serial {
    status = "okay";
};

&uart2 {
    status = "okay";
    pinctrl-0 = <&uart2_default>;
    pinctrl-names = "default";
    current-speed = < 115200 >;
};

